<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-sm bg-black">
  <div class="container-fluid">
    <span class="logo-img m-3 mb-0 mt-0"></span>
  <h1>{{title}} App </h1>
  <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto" [ngSwitch]="username == null">
          <li class="nav-item" *ngSwitchCase="false">
              <a class="nav-link" routerLink="/employees-component" routerLinkActive="active">
                  Employees</a></li>
          <li class="nav-item" *ngSwitchCase="false">
              <a class="nav-link" routerLink="/departments-component" routerLinkActive="active"
                 ariaCurrentWhenActive="page">
                  Departments</a></li>
          <li class="nav-item" *ngSwitchCase="true">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
          <li class="nav-item" *ngSwitchCase="false">
              <a class="nav-link" (click)="logout()">
                  Logout
                  <div class="text-sm-center" style="font-size: xx-small">{{accountService.getUsername()}}</div>
              </a>
          </li>

      </ul>
  </div>
  </div>
</nav>
<div class="m-5 mt-1">
  <router-outlet></router-outlet>
</div>
