<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-black">
  <div class="container-fluid">
    <span class="logo-img m-3 mb-0 mt-0"></span>
  <h1>{{title}} App </h1>
  <div class="navbar-collapse collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/employees-component" routerLinkActive="active" >
        Employees</a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/departments-component" routerLinkActive="active" ariaCurrentWhenActive="page">
        Departments</a></li>
  </ul>
  </div>
  </div>
</nav>
<div class="m-5 mt-1">
  <router-outlet></router-outlet>
</div>
