<div class="d-flex justify-content-center">
  <div class="col-8">
    <h2><span>Department {{departmentId}}</span></h2>
    <div *ngIf="department">
      <dl class="row-md">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ department.id }}</span>
        </dd>
        <dt><span>Department Name</span></dt>
        <dd>
          <span>{{ department.departmentName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <span>Back</span>
      </button>

      <button type="button" class="btn btn-primary"
              [routerLink]="['/department', department.id, 'edit']"
              class="btn btn-primary btn-sm"
              [disabled]="!accountService.isEditor()">
        <span>Edit</span>
      </button>
    </div>
  </div>
</div>
